<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Lista de Credenciales</title></head>
<body>
    <h1>Credenciales registradas</h1>
    <a href="/credenciales/nueva">+ Nueva</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Password</th>
        </tr>
        <tr th:each="credencial : ${credenciales}">
            <td th:text="${credencial.id}"></td>
            <td th:text="${credencial.usuario}"></td>
            <td th:text="${credencial.password}"></td>
        </tr>
    </table>
</body>
</html>
